/****** device width 980px ******/
@media all and (max-width: 980px) {

}

/****** device width 640px ******/
@media all and (max-width: 640px) {

}

/****** device width 690px ******/
@media screen and (max-width: 690px) {
    header {
        padding: 0;
    }

    .logo {
        left: 80px;
    }

    .nav {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .nav li.active a {
        background: #222;
    }

    .ticket-btn-1 {
        top: 8px;
        right: 8px;
        height: 52px;
        padding: 0 0.5em;
        border-radius: 10px;
        line-height: 50px;
        transform: rotate(0);
    }

    .ticket-btn-1:after, .ticket-btn-1:before {
        display: none;
    }

    .ticket-btn-1 .wrap {
        padding: 0.3em;
        border-right: 2px dashed #eee;
        line-height: 40px;
        font-size: 100%;
    }

    .banner {
        min-height: 260px;
    }

    .banner h1 {
        font-size: 180%;
        padding-bottom: 1em;
        line-height: 1.3em;
    }

    .banner h2 {
        font-size: 110%;
        line-height: 1.1em;
        padding-bottom: 0.5em;
    }

    .banner p {
        font-size: 100%;
        line-height: 1em;
    }

    .tags {
        bottom: 5px;
        right: 5px;
    }

    .tags p {
        display: inline;
        font-size: 130%;
        padding-left: 1.2em;
    }

    section h2 {
        font-size: 150%;
        line-height: 1.5em;
        padding-bottom: 0.5em;
    }

    .about-rs p {
        margin: 0;
    }

    .sign-up {
        min-height: 200px;
    }

    .sign-up-field {
        width: 10em;
        vertical-align: top;
    }

    .sign-up-btn {
        background:url("../images/email.svg")no-repeat 0 0;
        background-size:cover;
        width: 66px;
        height: 48px;
        padding: 0;
    }

    .sign-up-btn span {
        display: none;
    }

    .about-rs .round-img {
        margin-right: -5em;
    }

    .partners-list li img {
        width: 100px;
    }

    .venue-img {
        display: none;
    }

    .venue {
        position: relative;
    }

    .venue:after {
        content:"";
        background:url(../images/hotel.jpg) no-repeat center center;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .schedule h1, .schedule h2 {
        padding-left: 1rem;
    }

    .schedule h1 {
        font-size: 200%;
    }
    .schedule h2 {
        font-size: 130%;
    }

    .schedule h3 {
        font-size: 110%;
    }

    .schedule-full li {
        padding:0.5em 1em;
    }
    .schedule-full .speaker-photo {
        position: static;
        float: right;
        width: 80px;
        margin: 0.4em;
    }
    .schedule-full li p {
        font-size: 90%;
    }
    .schedule-full .time {
        font-size: 130%;
    }
    footer {
        font-size: 70%;
    }

    .footer-logo {
        width: 160px;
        height: 134px;
    }

}

