/******************  general  ******************/
html, body, div, span, h1, h2, h3, h4, p, img, strong, ul, li, form, label, article, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    outline: 0;
}

html {
    text-align: center;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    color: #444;
    font-family: 'Lusitana', 'Cambria', 'Georgia','Times New Roman', 'Times', serif;
    line-height: 1.46em;
    text-align: left;
}

a {
    color: #ad0f00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.2125em
}

h1 {
    font-size: 2.125em
}

h2 {
    font-size: 1.6875em
}

h3 {
    font-size: 1.375em
}

h4 {
    font-size: 1.125em
}

h5 {
    font-size: 1.125em
}

h6 {
    font-size: 1em
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}
