/******************  general  ******************/
html, body, div, span, h1, h2, h3, h4, p, img, strong, ul, li, form, label, article, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    outline: 0;
}

html {
    text-align: center;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    color: #000;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    line-height: 1.46em;
    text-align: left;
}

a {
    color: #bb0a01;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    padding: 0.5em 0;
}

.right-fl {
    float: right;
}

.textalign-right {
    text-align: right;
}

.textalign-center {
    text-align: center;
}

.round-img {
    margin: 0.5em 1em;
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

section {
    padding: 2em 1em 3em 1em;
    box-sizing: border-box;
    overflow: hidden;
}

.up-btn {
    position: fixed;
    top:90%;
    left:80%;
    display: inline-block;
    height: 45px;
    width: 55px;
    background: #ccc;
    color: #444;
    text-align: center;
    font-size: 200%;
    line-height: 45px;
    z-index: 100;
    opacity: 0.5;
}

.up-btn:hover {
    text-decoration: none;
    opacity: 0.7;
}

/*************************************************    header  ******************/
header {
    position: relative;
    height: 70px;
    padding: 0 180px 0 140px;
    background: #000;
}

.logo {
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    background: url(../images/logo_rs_text.svg) no-repeat 0 0;
    background-size: 100px 60px;
    width: 100px;
    height: 60px;
    z-index: 10;
}

/*************************************************    navigation  ******************/

.nav a {
    color: #fff;
}

.nav {
    padding: 1.3em 0 0 0;
    list-style-type: none;
    overflow: hidden;
}

.nav li {
    float: left;
    padding: 0 20px 0 0;
}

.nav li a {
    color: #aaa;
    font-size: 90%;
}

.nav li.active a {
    color: #fff;
}

.nav li a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-btn {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;

    background: #000;
    color: #fff;

    font-family: "Verdana";
    font-size: 300%;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    z-index: 51;
}

.nav-btn:hover {
    text-decoration: none;
}

.vertical-mode {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    z-index: 50;
    background: #000;
    opacity: 0.9;
    text-align: right;
}

.vertical-mode .nav {
    display: block;
    padding: 70px 0 0 0;
}

.vertical-mode ul li {
    display: block;
    float: none;
    padding: 0;
}

.vertical-mode ul li a {
    display: block;
    padding: 1em;
    font-size: 120%;
}

.vertical-mode ul li a:hover {
    color: #fff;
    text-decoration: none;
}

/*************************************************    ticket buttons  ******************/

.ticket-btn-1, .ticket-btn-3 {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    padding: 0 1em;
    border-radius: 10px;
    background: #a20901;
    color: #fff;
    line-height: 60px;
    transform: rotate(-5deg);
    z-index: 5;
}

.ticket-btn-3 {
    position: relative;
    top:0;
    right: 0;
    transform: rotate(0);
}

.ticket-btn-1:hover, .ticket-btn-3:hover {
    background:#7b0701;
}

.ticket-btn-1:after, .ticket-btn-3:after, .ticket-btn-1:before, .ticket-btn-3:before  {
    content: "";
    position: absolute;
    right: -10px;
    top: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #000;
}

.ticket-btn-1:before, .ticket-btn-3:before {
    left: -10px;
}

.ticket-btn-3:after, .ticket-btn-3:before {
    background: #232323;
}

.ticket-btn-1 .wrap, .ticket-btn-3 .wrap {
    display: inline-block;
    padding: 0.6em 1em;
    border-right: 2px dashed #eee;
    line-height: 40px;
    font-weight: bold;
    font-size: 100%;
    font-family: monospace;
    text-transform: uppercase;
}

.ticket-btn-1:hover .wrap, .ticket-btn-3:hover .wrap {
    border-color: #eee;
}

.ticket-btn-2 {
    display: inline-block;
    margin-top: 20px;
    padding: 1em 2em;
    color: #fff;
    background: #bb0a01;
}


.ticket-btn-1:hover, .ticket-btn-2:hover, .ticket-btn-3:hover {
    text-decoration: none;
}


/*************************************************    banner  ******************/

.banner {
    position: relative;
    min-height: 540px;
    color: #000;
    background: #dbdbdb url("../images/banner.jpg");
    background-size: cover;
    text-align: center;
}

.banner h1 {
    font-size: 300%;
    line-height: 2.5em;
}

.banner h2 {
    font-size: 200%;
    line-height: 1.5em;
}

.banner p {
    padding: 0;
    font-size: 150%;
    line-height: 1.5em;
}

.textwrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.tags {
    position: absolute;
    bottom: 40px;
    right: 50px;
    text-align: left;
}

.tags p {
    font-size: 130%;
    line-height: 1.3em;
}

section h2 {
    padding-bottom: 1em;
    font-size: 200%;
    line-height: 2em;
}

/*************************************************    about RS  ******************/

.about-rs, .gallery {
    background: #f9f9f9;
    border-color: #e6e6e6;
    border-width: 1px 0;
}

.about-rs h3 {
    color: #aaa;
    font-size: 150%;
    line-height: 2em;
}

.about-rs p {
    margin: 1em 0;
    font-size: 100%;
    line-height: 1.46em;
}

/*************************************************    speakers  ******************/

.speakers-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.speakers-list li {
    width: 250px;
    margin: 1.5em auto;
    text-align: center;
}

.speakers-list li img {
    width: 200px;
    height: 200px;
    border: 1px solid #bbb;
}

.speakers-list li h3 {
    font-size: 120%;
    line-height: 2em;
}

.about-speaker {
    font-size: 80%;
}

/*************************************************    sign-up   ******************/

.sign-up {
    position: relative;
    min-height: 320px;
    background: #232323;
}

.sign-up-field {
    height: 3em;
    width: 18em;
    padding: 0 1em;
    margin-right: 1em;
    border: 0;
    font-size: 100%;
}

.sign-up-btn {
    display: inline-block;
    padding: 0 1em;
    height: 3em;
    background: #bb0a01;
    color: #fff;
    text-align: center;
    line-height: 3em;
}

.sign-up-btn:hover {
    text-decoration: none;
}

.sign-up-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/*************************************************    venue   ******************/
.venue-img {
    width: 40%;
    margin: 0 0 0 30px;
}

/*************************************************    gallery & partners   ******************/

.gallery-list, .partners-list {
    -webkit-flex-flow: wrap row;
    flex-flow: row wrap;
    list-style-type: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.gallery-list li, .partners-list li {
    margin: 1.5em auto;
}

.gallery-list li img {
    width: 222px;
}

.partners-list li {
    padding: 0.5em 1em;
}

.partners-list li img {
    width: 200px;
}

/*************************************************    footer   ******************/
footer {
    position: relative;
    min-height: 535px;
    background: #232323;
    text-align: center;
}

.footer-logo {
    display: inline-block;
    background: url(../images/logo_rs.svg) no-repeat;
    background-size:cover;
    width: 200px;
    height: 168px;
    margin: 1em 0 1em -22px;
}

.footer-nav-wrap {
    padding: 1em 0 2em;
    overflow: hidden;
}

.footer-nav {
    float: left;
    width: 50%;
    list-style-type: none;
    text-align: right;
}

.footer-nav li {
    padding: 0.5em 2em;
}

.footer-nav li:first-child {
    padding-top: 0;
}

.footer-nav li:last-child {
    padding-bottom: 0;
}

.footer-nav a {
    color: #aaa;
    font-size: 90%;
}

.footer-nav a:hover {
    color: #fff;
    text-decoration: none;
}

.contacts-nav li {
    border-left: 1px solid #4c4c4c;
    text-align: left;
}

.contacts-nav li a img {
    width: 25px;
    margin-right: 10px;
    vertical-align: bottom;
}

/*************************************************    schedule     ******************/
.schedule {
    padding: 2em 0 3em 0;
}

.schedule h1, .partners h1 {
    font-weight: normal;
    font-size: 280%;
    line-height: 1.2em;
}

.schedule h2 {
    color: #bb0a01;
    font-weight: normal;
    font-size: 150%;
}

.schedule-full {
    list-style-type: none;
}

.schedule-full li {
    position: relative;
    min-height: 150px;
    padding: 20px 0 20px 200px;
}

.schedule-full .break {
    min-height: inherit;
    background: #fbfbfb;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.speaker-photo {
    position: absolute;
    top: 30px;
    left: 0;
    width: 160px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.schedule-full .time {
    color: #bbb;
    font-weight: bold;
    font-size: 150%;
}

.schedule-full .speaker-name {
    color: #aaa;
    font-size: 90%;
}

.schedule-full h3 {
    padding: 0.3em 0;
    font-size: 150%;
}

.schedule-full p {
    padding: 0.3em 0;
}
